[data-tab-content] {
    display: none;
}

.active[data-tab-content]{
    display: block;
}

*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}


body {
    background: rgb(255, 255, 255);
    color: floralwhite;
}

.hero{
    background: linear-gradient(to right, rgb(255, 85, 94), red);
    height: 70px;
    width: 100%;
    color: #fff;
    
}

nav{
    display: flex;
    align-items: center;
    padding: 20px 8%;
}

nav a .thecgmaker{
    width: 180px;
    margin-right: 5px;
    cursor: pointer;
}
nav ul {
    flex: 1;
    text-align: right;
}
nav ul li{
    margin: 0 10px;
    padding: 8px;
    display: inline-block;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    border-radius: 10px;
}

nav ul li:hover{
    background: rgb(255, 255, 255);
    color: red;
}

nav ul li.active{
    background: rgb(255, 255, 255);
    color: red;
}

.text-container-h{
    position: relative;
    color: #000;
    max-width: 400px;
    margin-top: 7%;
    margin-left: 40%;
    padding-left: 5%;
}
.text-container-d{
    align-items: center;
    text-align: center;
    color: #000;
    margin-top: -50px;
}
.text-container-a{
    position: relative;
    text-align: center;
    color: #000;
    padding-top: 150px;

}
.text-container-d a{
    background: rgb(0, 132, 255);
    color: floralwhite;
    text-decoration: none;
    padding: 8px;
    border-radius: 7px;
}
.text-container-d a:hover{
    background: rgb(173, 183, 230);
    border-radius: 7px;

}
.go-download{
    text-align: center;
    background: linear-gradient(to bottom, rgb(173, 195, 230), rgb(79, 79, 255));
    color: white;
    cursor: pointer;
    margin-top: 30px;
    padding: 5px;
    width: 140px;
    border-radius: 20px;
}
.go-download:hover{
    transition: 0.5s;
    width: 160px;
    background: linear-gradient(to bottom, rgb(173, 195, 230), rgb(79, 79, 255));
}

.image{
    transition: 0.5s;
    position: relative;
    top:-150px;
    left: -350px;
    width: 250px;
}
.image:hover{
    transition: 0.3s;
    width: 260px;
    box-shadow: -10px 10px 20px rgb(0, 0, 0, 0.5);
}
.torch{
    padding: 10px;
    width: 150px;
}
.follow{
    width: 25px;
}

.arrow{
    transition: 0.5s;
    width: 15px;
    display: none;
}
.go-download:hover .arrow{
    display: inline;
    transition: 0.5s;
}